/* 插件栏 */
body:not(.body--mobile, .body--window)>#toolbar {
    & #plugin_siyuan-importer_0 {
        & svg {
            transform: scaleY(1.05);
        }
    }

    & #plugin_sy-query-view_0 {
        & svg {
            transform: scale(0.95);
        }
    }

    & #plugin_siyuan-plugin-text-process_0 {
        & svg {
            transform: scale(1.02);
        }
    }

    & #plugin_siyuan-trex-toolbox_0 {
        & svg {
            transform: scale(1.07);
        }
    }

    & #barMode {
        & svg {
            transform: scale(1.12);
        }
    }
}


/* 插件 - 轻语 */
.layout__center.fn__flex.fn__flex-1 > div > div > div.fn__flex > ul.fn__flex.layout-tab-bar > li.item.item--focus[aria-label="轻语"] {
    overflow: clip !important;
}
