/** 隐藏左侧边栏的收集箱按钮 **/
#dockLeft span[data-type='inbox'] {
    display: none;
}

/** 隐藏顶部边栏的命令按钮 **/
/* #toolbar #barCommand {
    display: none;
} */

/** 隐藏顶部边栏的订阅按钮 **/
#toolbar #toolbarVIP {
    display: none;
}

/** 隐藏右侧边栏的智能体按钮 **/
#dockRight span[data-type="agentChat"] {
    display: none;
}