:root {
    --plugin-docky-zoom: unset;
}

div.plugin-insert-time__conf-item {
    div.form-row {
        display: flex;
        align-items: center;
        margin: 2px auto;

        >span:first-child {
            width: 5em;
            text-align: left;
        }
    }
}

svg.highlight-icon {
    color: var(--b3-theme-primary);
}

svg.highlight-icon~span.b3-menu__label {
    color: var(--b3-theme-primary);
    font-weight: 500;
}

/* Rotate by 90 degrees */
.rotate-90 {
    transform: rotate(90deg);
}

/* Rotate by 180 degrees */
.rotate-180 {
    transform: rotate(180deg);
}



/******************** doc context ********************/
section.doc-context {
    .btn-focus {
        font-size: 19px;
        font-weight: bold;
        color: var(--b3-theme-primary);
        cursor: pointer;
    }
    ol {
        font-size: 18px;
        column-gap: 30px;
        column-count: 3;
    }

    span.anchor {
        cursor: pointer;
        color: var(--b3-theme-primary);
        padding: 1px 2px;

        &:hover {
            background-color: var(--b3-theme-primary-lightest);
        }
    }
}
